* {
    font-family: 'Kanit', sans-serif;
    background-color: black;
    color: cornsilk;
}

header {
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
}

footer {
    font-size: 12pt;
    margin-left: 0;
}

main {
    text-align: center;
}