* {
    font-family: 'Kanit', sans-serif;
    background-color: black;
    color: cornsilk;
}

header {
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
}

footer {
    font-size: 10pt;
    margin-left: 5em;
}

main {
    text-align: center;
}